doctype html
html
  head
    title Learn To Type - 404
    link(href='css/css.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300', rel='stylesheet', type='text/css')
  body
    header Typing - Beta
    
    span Ain't nothing here - 404
