doctype html
html
  head
    title Learn To Type
    link(href='css/main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='js/main.js')
  body
    header Typing - Beta
    .text
    .input.center
      input.type(type='text', autocomplete='false')
    .score
      | 0
